@font-face {
   font-family: "Old Bookshop";
   src: url("Font/Old Bookshop HK.ttf") format("truetype");
}
@font-face {
   font-family: "Crayon Crumble";
   src: url("Font/DK Crayon Crumble.ttf") format("truetype");
}

.marco {
  background-color: white;
  width: 200px;
  height: 200px;
  padding: 2px;
  margin-right: 20px;
}

.descripcion {
  margin: auto;
  width: 800px;
  height: inherit;
  padding: 15px;
}

.centrar {
  margin: auto;
}

.expandir-fondo {
  background-size: 100% 100%; /* Expande el background */
}

.pizarra {
  background-image: url("/BeeRecharge/Css/pizarra.jpg");
  border: 2px solid;
  padding-bottom: 15px;
  font-size: 20px;
  color: white;
}

.fondo-madera {
  background-image: url("/BeeRecharge/Css/background.jpg");
  background-attachment: fixed;
}

.fondo-carga {
  background-image: url("/BeeRecharge/Css/beercharge.gif");
  background-attachment: fixed;
}

.fondo-sucursal {
  background-image: url("/BeeRecharge/Css/subsidiary.gif");
  background-attachment: fixed;
}

.fondo-horario {
  background-image: url("/BeeRecharge/Css/clock.gif");
  background-attachment: fixed;
}

.fondo-estados {
  background-image: url("/BeeRecharge/Css/su.gif");
  background-attachment: fixed;
}

.link-cerveza {
  color: white;
  text-decoration: none;
  display: block;
}

.link-cerveza:hover {
  text-decoration: underline;
}

.tabla-envases {
  padding: 10px;
}
.tabla-envases td {
  padding: 5px 15px 5px 15px;
}

.btn-volver {
  background-color: rgb(19, 23, 21);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  border-radius: 8px;
  text-decoration: none;
}

.btn-volver:hover {
  text-decoration: underline;
}

/********** VENTANA POPUP **********/
/*
popup: <div> que define el popup.
popup-texto: <span> dentro del <div> popup que contiene.

<div class="popup">
  <span class="popup-texto" id="popup">
    <form action="#" method="post">
      <table>
        <tr>
          <td colspan="2">Amber Lager Premium</td>
        </tr>
        <tr>
          <td colspan="2">Botellon de 2 Litros</td>
        </tr>
        <tr>
          <td><label id="label" for="cantidad">Cantidad</label></td>
          <td><input id="cant" type="number" name="cantidad"></td>
        </tr>
        <tr>
          <td><input type="submit" value="Aceptar"></td>
        </tr>
      </table>
    </form>
  </span>
</div>
*/
.popup {
  display: inline-block;
  position: fixed;
  left: 0;
  right: 0;
  top: 370px;
}

.popup .popup-texto {
  visibility: hidden;
  background-color: white;
  color: black;
  border-radius: 6px;
  position: absolute;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  padding: 10px;
}

.popup .popup-texto td {
  padding: 5px 10px 5px 10px;
}

/* Popup flechita */
.popup .popup-texto::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

/* Muestra el Popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Animacion del popup */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.tabla-cervezas {
  width: 100%;
  border-collapse: collapse;
}

.tabla-cervezas td {
  padding: 10px;
  padding-left: 20px;
}

.tabla-cervezas td:nth-child(1), .tabla-cervezas td:nth-child(5) {
  width: 200px;
}

.tabla-cervezas td:nth-child(4) {
  border-right: 2px solid white;
}

.link-cerveza {
  color: white;
  text-decoration: none;
  display: block;
}

.link-cerveza:hover {
  text-decoration: underline;
}


/********** DROPDOWN **********/
/*
dropdown-contenedor: Se aplica al <ul> que contiene los enlaces.
dropdown-link: Link dentro de la barra de navegacion
dropdown-btn Boton que despliega un menu
dropdown-contenido: div que contiene los enlaces del menu desplegable

<ul class="dropdown-contenedor">
  <li class="dropdown">
    <a href="#" class="dropdown-btn">Gestion Cervezas</a>
    <div class="dropdown-contenido">
      <a href="#">Alta</a>
      <a href="#">Baja</a>
      <a href="#">Modificacion</a>
    </div>
  </li>
</ul>
*/
.dropdown-contenedor {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.dropdown-contenedor li {
  float: left;
}

.dropdown-link, .dropdown-btn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown-link:hover, .dropdown:hover .dropdown-btn {
  background-color: #111;
}

.dropdown-contenido {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-contenido * {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-contenido *:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-contenido {
  display: block;
}


/********** LOGIN **********/
.login-register {
  text-align: center;
  font-size: 17px;
  transition: font-size 0.02s;
}

.login-register a {
  color: white;
  text-decoration: none;
}

.login-register a:hover {
  text-decoration: underline;
}

.btn-login {
  width: 100%;
  background-color: rgb(50, 61, 54);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition: all 1s;
}

.btn-login:hover {
  background-color: rgb(129, 143, 123);
}

.img-login {
   width: 100%;
}

.tabla-login {
  width: 300px;
  margin-top: 15px;
}

.tabla-login input {
  margin-bottom: 15px;
  width: 100%;
}

.tabla-login input[type=text], .tabla-login input[type=password] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 3px solid yellow;
}


.tabla-register {
  width: 450px;
  margin-top: 15px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.tabla-register td {
  padding: 8px 20px 8px 20px;
}

.tabla-register input {
  width: 100%;
}

/********** GESTION **********/
.form {
  padding-top: 20px;
}

.form h1 {
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
}

.form table {
  border-collapse: collapse;
  width: 350px;
}

.form td {
  padding: 5px;
}

.form label {
  font-weight: bold;
}

.form input, .form textarea, .form select {
  margin-left: 20px;
  width: 100%
}

.form select {
  background-color: #333;
  padding: 8px;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.submit {
  margin-top: 10px;
  width: 100%;
  background-color: #333;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.submit:hover {
  background-color: #111;
}

.alert {
  margin: auto;
  width: 350px;
  padding: 20px 10px;
  margin-top: 20px;
  border-radius: 10px;
}

.green {
  background-color: rgb(74, 227, 84);
}

.yellow {
  background-color: rgb(246, 244, 0);
}

.red {
  background-color: rgb(255, 0, 0);
}
